
    #home-panel {

    }
    #home-panel a:link, a:visited, a:active {
    	color: #0464BB;
    	text-decoration:none;
	}
	#home-panel a:hover {
    	color: #1C417C;
    	text-decoration: underline;
	}
    #home-panel dd {
        cursor:pointer;
        float:left;
        height:100px;
        margin:5px 5px 5px 10px;
        width:300px;
        zoom:1;        
    }

	#home-panel dd div {
        float:left;
        margin-left:10px;
        width:160px;
    }
    
	#home-panel dd .thumb {
    	float: left;
    	height: 90px;
    	width: 120px;
		margin: 5px 0px 0px 5px;
	}
	#home-panel h1 {
    	padding-top: 2px;
    	border-bottom: 1px none rgb(241, 241, 241);
    	font-size: 2em;
    	color: rgb(102, 171, 22);
	}
    #home-panel dd h4 {
        color:#555;
        font-size:12px;
        font-weight:bold;
        margin: 5px 0px;
    }
    #home-panel dd p {
        color:#777;
        font-size:12px;
    }
    #home-panel dd.over {
        background: #F5FDE3 url(shared/extjs/images/sample-over.gif) no-repeat;
    }
    
    #home-panel {
        background-color: #fff;
        border:1px solid;
        border-color:#dadada #ebebeb #ebebeb #dadada;
        overflow: auto;
    }
    #sample-ct {
        padding:2px;
        font: 11px tahoma,arial,helvetica,sans-serif
    }

    #home-panel h2 {
        border-bottom: 2px solid #99bbe8;
        cursor:pointer;
        padding-top:6px;
    }
    #home-panel h2 div {
        background:transparent url(../resources/themes/images/default/grid/group-expand-sprite.gif) no-repeat 3px -47px;
        color:#3764a0;
        font:bold 12px Helvetica, Arial, sans-serif;
        padding:4px 4px 4px 17px;
    }
    #home-panel .collapsed h2 div {
        background-position: 3px 3px;
    }
    #home-panel .collapsed dl {
        display:none;
    }
    #home-panel dd h4 span.new-sample{
        color: red;
    }

    #home-panel dd h4 span.updated-sample{
        color: blue;
    }
    .x-tree-checkbox-half-checked {
      background-position: 0 -30px
    }
    